.header
  .header__title
    watch_review
  = link_to destroy_user_session_path, method: :delete, class: 'header__login' do
    ログイン
  = link_to destroy_user_session_path, method: :delete, class: 'header__login' do
    ログアウト

  = link_to new_reviews_path, class: 'header__new-review' do
    レビューを投稿する
  %a.header__drawer
    %span
    %span
    %span