// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 80px;
  background: #454e54;
  position: fixed;
  width: 100%;
  &__title {
    float: left;
  }
  &__login {
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 25px 100px 25px 10px;
    background: #4aa7e6;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px;
  }
  &__new-review {
    cursor: pointer;
    float: right;
    height: 30px;
    margin: 25px;
    background: #4aa7e6;
    border-radius: 5px;
    line-height: 30px;

  }
  &__search {
    float: left;
  }
  &__drawer{
    position: fixed;
    cursor: pointer;
    top: 30px;
    right: 40px;
    height: 25px;
    width: 30px;
    z-index: 9999;  
    span:nth-of-type(1) {
        top: 0px;
    }
    span:nth-of-type(2) {
      top: 11px;
    }
    span:nth-of-type(3) {
      top: 22px;
    }
    span{
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #EBE5D5;
      border-radius: 3px;
    }
}
}

.wrapper {
  background: #454e54; 
  padding-top: 80px;
}

.contents {
  background: #3e464b; 
  display: flex;
  flex-wrap: wrap;
  margin: auto ;
  max-width: 1200px;
}
.main-contents2{
  background: rgb(217, 225, 225); 
  flex: 1 0 375px;
}

.review {
  margin: 10px;
  background: #454e54;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  &__title {
    font-size: 2rem;
    width:100%;
  }
  &__image--1 {
    height: 500px;
    width: 500px;
    margin: 0 5px;
  }
  &__image--2 {
    height: 130px;
    width: 130px;
    margin: 5px 5px 0px 30px;
    display: inline-block;
  }
  &__content {
    background: #2d2d2d;
    width: 100%;
    flex: 1 0 400px;
    min-width: 400px;
    margin: auto;
  }
  &__read-more {
  }
  &__author {
   }
}
