= render partial: "shared/header-before-login"

.wrapper
  .contents
    .main-contents2
      .review
        .review__title
          = @review.title
    
        =image_tag @image.image_url, class: "review__image--1"
        %ul.review__image--thumbnails
          -@images.each_with_index do |image, index|
            %li=image_tag image.image_url, {class: "review__image--2"}
        .review__image--comment
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
          ここに画像コメントが入ります
        .review__author
          Posted by
          =@review.user.name
    .side-menu
      .ranking
        人気の記事
      .brand
        ブランド一覧

  = render partial: "shared/footer"
